html,
body {
    min-height: 100%;
    background: black;
}

.wrapper {
    min-height: 100svh;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

